* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.4;
}

html {
  box-sizing: border-box;
  background: #eee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 90vw;
  margin: 40px auto;
  background: white;
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

header {
  height: 320px;
  background: url(../img/img.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: normal;
}

@media (max-width: 640px) {
  header {
    height: 120px;
  }
}

p {
  margin: 1rem 0;
}

h1 {
  color: white;
  font-size: 7vw;
  font-weight: 400;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: #007eb6;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
}

img {
  width: 100%;
}
body.fixed-nav nav {
  position: fixed;
  top: 0;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
}
li.logo img {
  padding-top: 0.25rem;
  width: 2.5rem;
}
li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
}
.fixed-nav li.logo {
  max-width: 500px;
}
.entry {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.entry a {
  color: #007eb6;
  text-decoration: none;
}
.section-head {
  font-family: Lobster;
  color: #007eb6;
  font-size: 2.5rem;
  text-transform: capitalize;
  padding-bottom: 0.25rem;
  padding-top: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #007eb6;
}
